<h2>New Contact Address Information</h2>

<form action='/new_address' method="post">
  <div class="form-group">
    <input id="address_id" name="address_id" type="hidden" value="<%= @contact.id() %>">

    <label for="type">Type of Address</label>
    <input type="text" name="type" id="type" class="form-control">

    <label for="street">Street</label>
    <input type="text" name="street" id="street" class="form-control">

    <label for="city">City</label>
    <input type="text" name="city" id="city" class="form-control">

    <label for="state">State</label>
    <input type="text" name="state" id="state" class="form-control">

    <label for="zip">Zip</label>
    <input type="text" name="zip" id="zip" class="form-control">

  </div>
  <button type="submit" class="btn btn-danger">Submit New Address</button>
</form>
