<h2> Contact details for <%= @contact.first() %> <%= @contact.last() %></h2>

<h3>Job: <%= @contact.job %></h3>
<h3>Company: <%= @contact.company %></h3>

<a href="/phone_form">Add Phone Information</a>
<a href="/contact_list">Back to contact list</a>
