<h2>New Contact Email Information</h2>

<form action='/new_email' method="post">
  <div class="form-group">
    <input id="email_id" name="email_id" type="hidden" value="<%= @contact.id() %>">

    <label for="type">Type of Email</label>
    <input type="text" name="type" id="type" class="form-control">

    <label for="address">Address</label>
    <input type="text" name="address" id="address" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Submit New Email</button>
</form>
