<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Contacts</title>
  </head>
  <body>
    <div class="container">
      <div class="Jumbotron">
        <h1>Contacts App</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
