<h2>New Contact Phone Information</h2>

<form action='/new_phone' method="post">
  <div class="form-group">
    <input id="phone_id" name="phone_id" type="hidden" value="<%= @contact.id() %>">

    <label for="type">Type of Phone Number</label>
    <input type="text" name="type" id="type" class="form-control">

    <label for="area">Area Code</label>
    <input type="text" name="area" id="area" class="form-control">

    <label for="number">Number</label>
    <input type="text" name="number" id="number" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Submit New Phone</button>
</form>
