<h2>Success! You made a new Contact</h2>

<span class="link_font"><a href="/contact_form">Create new contact</a></span>
<br>
<span class="link_font"><a href="/contact_list">View contact list</a></span>
